.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #232323;
  color: #f7f7f7;
}

/* Navbar CSS */
.navbar {
  width: 100%;
  background-color: #232323;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  background: none;
  color: #f7f7f7;
  text-decoration: none;
  transition-duration: 800ms;
  :active{
    opacity: 0.7;
  }
}

.nav-menu {
  background-color: #232323;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #f7f7f7;
  color: #232323;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #232323;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  margin-left: 16px;
}

#logo{
  width: 130px;
  object-fit: contain;
  margin-right: 5px;
}

.settings_bar{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.settings_button{
  color: #f7f7f7;
  height: 25px;
  width: 25px;
  margin: 10px
}